/* Navbar style */

nav>img {
    width: 120px;
    height: 50px;


}

header {
    margin-top: 12px;
    margin-left: 70px;
    margin-right: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {

    display: flex;

}

nav>ul>li {
    list-style: none;
    margin-right: 40px;
    font-family: Inter;
    font-weight: 500;

}

.btn-hed {
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 35px;

}

.button-p {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: 300;
}

.btn-hed:hover {
    background-color: rgb(235, 196, 97);
}


/* Banner Section style */

#hero-banner {
    background-image: url('images/hero-bg.png');
    width: 1270px;
    height: 490px;
    margin-top: 12px;
    text-align: center;

}

#button-banner-top {
    margin-top: 120px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 15px;
    width: 165px;
    height: 23px;
    display: inline-flex;
    align-items: center;
    gap: 2px;
}

#button-b {
    color: rgb(78, 163, 113);
    font-family: Inter;
    font-weight: 500;


}

#circel {


    width: 8px;
    height: 8px;
    background-color: #2ecc71;
    border: 3px solid #b4e9ca;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;


}

#button-banner-top:hover {
    background-color: rgb(235, 196, 97);
}

.hero-title {
    font-family: Inter;

    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 14px;

}

.hero-note {
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 22px;
    margin: 7px;
}

.button-banner-left {
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    width: 180px;
    height: 33px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: 300;
    padding-left: 12px;
    margin-right: 7px;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.button-banner-left:hover {
    background-color: rgb(235, 196, 97);

}

#button-banner-right {
    width: 150px;
    height: 33px;
    background-color: rgba(135, 132, 132, 0.082);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: 300;
    /*padding-left: 20px*/


}

#button-banner-right:hover {
    background-color: rgb(235, 196, 97);


}

/* note section style */
#notes-section {
    text-align: center;
    margin-top: 33px;
}

#notes-section-title {
    color: var(--#001931, var(--Color, rgba(0, 25, 49, 1)));
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    line-height: 30px;
    margin: 8px;

}

.note-section-note {
    color: rgba(98, 115, 130, 1);
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    line-height: 22px;
    margin: 0px;
}

/* card section */

.card {

    background: rgba(249, 85, 85, 1);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 75px;



}

.card-img {

    padding: 7px;
    height: 15px;
    width: 15px;


}

.card-1 {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
    width: 180px;
    height: 170px;
    padding-top: 40px;
    padding-left: 4px;
    padding-right: 4px;
}

.card-note {
    color: rgba(98, 115, 130, 1);
    font-family: Inter;
    font-size: 11px;
    font-weight: 500;
    margin: 0px;
}

.card-title {
    margin: 10px;
    font-weight: 700;

}

#card-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

#brain-section {
    display: flex;
    background: rgba(255, 255, 255, 1);
    margin-top: 0px;
    gap: 40px;
    width: 800px;
    height: 410px;
    margin-left: 135px;
    padding: 60px 60px 50px 60px;


}

#brain-section-img {
    height: 400px;
    width: 400px;
}

.brain-section-title {
    color: #001931;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 17px;
    margin-top: 0px;

}

.brain-section-text {
    padding-top: 20px;
}

#solution {
    color: #30B868;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.brain-section-img {
    display: flex;
    gap: 5px;

}

.cheak-img {
    width: 18px;
    height: 18px;
    margin-top: 20px;
}

.cheak-img-2 {
    width: 18px;
    height: 18px;
    margin-top: 0px;
}

.img-text {
    color:  rgba(0, 25, 49, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}

.img-text-2 {
    color:  rgba(0, 25, 49, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    margin-top: 0px;
}

.button-early {
    background-color:#30B868;
    border: none;
    border-radius: 3px;
    width: 140px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: 300;
    padding-left: 12px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.button-early:hover {
    background-color: rgb(235, 196, 97);

}

#early-access-section {
    text-align: center;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding-top: 30px;
    width: 800px;
    height: 200px;
    margin-left: 195px;
    align-items: center;
}