/* header styles */

nav>img {
    width: 120px;
    height: 50px;


}

header {
    margin-top: 12px;
    margin-left: 70px;
    margin-right: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {

    display: flex;

}

nav>ul>li {
    list-style: none;
    margin-right: 40px;
    font-family: Inter;
    font-weight: 500;
    
}

nav>button {
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 35px;
    
}
.button-p{
    color: rgba(255, 255, 255, 1);
    font-family: Inter;
    font-weight: 300;
}
